<ion-header>
  <ion-toolbar>
    <ion-title>
      TMDB Mobile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="getRandomMovie();">Random</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Title" (ionChange)="getMovies($event);"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header color="warning">
      <ion-label>Movies</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let m of (movies|async)" (click)="goToDetails(m)" button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>{{m.title}}</ion-label>
    </ion-item>
    <ion-item *ngIf="!(movies | async)?.length">
      <ion-label color="danger">No items.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
