<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="secondary" defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>{{movie.release_date}}</ion-card-subtitle>
            <ion-card-title>{{movie.title}}</ion-card-title>
            <img width="50px" src="{{movie.poster_path}}"/>
          </ion-card-header>
          <ion-card-content>
            {{movie.overview}}
          </ion-card-content>
    </ion-card>
</ion-content>

